main {
  text-align: center;
  vertical-align: center;
}

html, body {
    margin: 0;
}

@font-face {
  font-family: rock3D;
  src: url(fontrock.ttf);
}

body{
  background: #0B0021;;
}

p{
  font-size:20px;
}

.title{
  color:white;
  font-size:128px;
  font-family: rock3D;
  text-align:center;
  cursor:default;
}

.tagline{
  text-align:center;
  color:#70618D;
  font-family: 'Roboto', sans-serif;
  margin-bottom:70px;
  cursor:default;
}

@media screen and (max-width: 964px) {
  .title{
    font-size: 80px
  }
}

@media screen and (max-width: 767px) {
  .title{
    font-size: 60px
  }
}

.center{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-content:center;
}

.btn-1{

  background:#10CDD9;
  color:#443A58;
}

.btn-1:hover{
  background:#178D95;
  transition:.4s;
}

.text1{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  cursor:default;
}

.text2{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  cursor:default;
}

.input{
  width: 295px;
  height: 41px;
  border-radius:20px;
  align-self:center;
  background: #443A58;
  border:none;
  padding:0px 10px;
  color:white;
  text-align:center;
}

.marginup{
  margin-top:30px;
}

.smallText{
  color:#10CDD9;
  font-size:16px;
  text-align:center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}

.smallText:hover{
  text-decoration:underline;
  text-decoration-style: wavy;
  transition:.3s;
  cursor:pointer;
  
}
.error-box{
  position: absolute;
  top:20px;
  margin:10px;
  background-color:#ffdbdb;
  padding: 25px 30px;
  flex-direction:row;
  display:flex;
  transition:0.5s;
  visibility:hidden;
}

.head{
  color:#10CDD9;
}

#scrollable{
  height: 300px;
  overflow-y: scroll;
   white-space: nowrap;

}

.nav{
  
  font-family: rock3D;
  text-align:center;
  cursor:default;
}